body {
    background: #333;
    font-family: Georgia;
    font-size: 1.5em;
}

.hide {
    display: none;
}

#loading {
    background: #333 url("loading.svg") no-repeat 0 0;
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-50px 0 0 -50px;
}

h1 {
    font-weight: normal;
    display: inline;
    float: left;
    margin: 0.05em;
    padding: 0.2em;
    height: 1.2em;
    cursor: pointer;
}

.yes {
    background: limegreen;
}

.no {
    background: orangered;
}

.action {
    font-style: normal;
    font-size: 2em;
    background: deepskyblue;
    width: 1.2em;
    text-align: center;
}

.action.back {
    clear: left;
}

div.input-container {
    margin: 0.5em 0;
    vertical-align: bottom;
    clear: left;
}

.delete {
    cursor: pointer;
    color: orangered;
    padding: 0 10px 0 0;
    font-weight: bold;
    font-size: 1.8em;
    display: block;
    margin-top: -10px;
    float: left;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: Georgia;
    font-size: 1.2em;
    padding: 0.1em 0;
    border: 1px solid #ddd;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    color: #ddd;
    background: #333;
    width: 80%;
    display: block;
    float: left;
}